*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lib
*.opendb
*.db
*.ipch
*.bat
.vs/
Debug/
Release/
x64/
ZoomAttention/Debug/
ZoomAttention/Release/
ZoomAttention/x64/
ZoomAttentionLoader/Debug/
ZoomAttentionLoader/Release/
ZoomAttentionLoader/x64/